html,
body {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

#GameDiv {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
}

#h5-container {
  width: 75rem;
  height: 150rem;
  position: absolute;
  margin: auto;
}

#toast-self {
  width: 75rem;
  height: 150rem;
  position: absolute;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.loading-wrap {
  width: 75rem;
  height: 150rem;
  position: relative;
}

.loading-content-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* opacity: 0; */
}

.bg-loading {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  left: 0;
  top: 0;
}

.loading-rect-box {
  margin-top: 26rem;
  width: 51.2rem;
  height: 9.3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.loading-rect1 {
  width: 100%;
  height: 100%;
  object-fit: fill;
  position: absolute;
}

.loading-rect1-title {
  width: 100%;
  font-size: 3.6rem;
  font-family: HYQiHei;
  font-weight: normal;
  color: #2166f0;
  position: relative;
  white-space: pre-wrap;
  position: relative;
}

.loading-rect1-title2 {
  width: 70%;
  font-size: 3.2rem;
  font-family: HYQiHei;
  font-weight: normal;
  color: #2166f0;
  line-height: 4.1rem;
  white-space: pre-wrap;
  text-align: left;
  position: relative;
}

.loading-rect-box2 {
  margin-top: 14.2rem;
  width: 40.5rem;
  height: 49.8rem;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.loading-rect2 {
  width: 100%;
  height: 100%;
  object-fit: fill;
  position: absolute;
}

.loading-tata {
  height: 35rem;
  object-fit: contain;
  position: relative;
}

.loading-bottom-box {
  margin-top: 20rem;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.progress-box {
  width: 52.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.progress-bar {
  width: 52.5rem;
  height: 0.6rem;
  background: #e4e4e4;
  box-shadow: 0px 1px 6px 0px rgba(8, 8, 8, 0.23);
  position: relative;
}

.progress-blue {
  width: 0%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  background-color: #2166f0;
}

.progress-matrix {
  height: 1.2rem;
  object-fit: contain;
  position: absolute;
  left: 99%;
}

.progress-title {
  font-size: 2.6rem;
  font-weight: bold;
  color: #ffffff;
  margin-top: 3.4rem;
  position: relative;
}

.login-btn-box {
  width: 36.6rem;
  height: 7.6rem;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  opacity: 0;
  z-index: -9;
}

.btn-login {
  width: 100%;
  height: 100%;
  position: absolute;
  object-fit: fill;
  left: 1.6rem;
}

.login-title {
  font-size: 3rem;
  font-family: HYQiHei;
  font-weight: normal;
  color: #ffffff;
  position: relative;
}

.modal-box {
  width: 75rem;
  height: 150rem;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  z-index: -9;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.mask {
  width: 100%;
  height: 100%;
  background-color: #000000;
  opacity: 0;
  backdrop-filter: blur(20px);
  position: absolute;
  left: 0;
  top: 0;
}

.no-prize-title {
  /* margin-top: 60rem; */
}

.comm-dialog-content-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  opacity: 0;
  margin: auto;
  transform: scale(0.5, 0.5);
}

.copy-tips {
  font-family: HYQiHei;
  font-weight: normal;
  color: #2166f0;
  font-size: 1.6rem;
  opacity: 0.75;
  margin-top: 0.5rem;
}

.comm-bg {
  width: 100%;
  height: 100%;
  object-fit: fill;
  position: absolute;
  top: 0;
  left: 0;
}

.comm-bg2 {
  width: 100%;
  height: 100%;
  object-fit: contain;
  position: absolute;
  top: 0;
  left: 0;
}

.login-dialog-box {
  width: 60.8rem;
  height: 58.8rem;
}

.login-dialog-title {
  font-size: 3.2rem;
  font-family: HYQiHei;
  font-weight: normal;
  color: #2166f0;
  margin: 8.8rem 0 4.5rem 0;
  position: relative;
}

.dialog-select-box {
  padding: 0.5rem;
  width: 47rem;
  height: 7.2rem;
  border: 0.2rem solid #2166f0;
  display: flex;
  align-items: center;
  margin: 1.7rem 0;
  position: relative;
  font-family: HYQiHei;
  font-weight: normal;
  color: #2166f0;
  opacity: 0.8;
}
.dialog-select-box option {
  width: 47rem;
  height: 7.2rem;
  font-family: HYQiHei;
  font-weight: normal;
  color: #2166f0;
  opacity: 1;
}

.dialog-select-text {
  font-size: 2.8rem;
  font-family: HYQiHei;
  font-weight: normal;
  color: #2166f0;
  opacity: 0.59;
  margin-left: 2.5rem;
  position: relative;
}

.dialog-confirm-btn-box {
  width: 28.7rem;
  height: 6.3rem;
  opacity: 0.67;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  margin-top: 2rem;
}

.dialog-confirm-btn {
  height: 6.3rem;
  width: 21rem;
  object-fit: fill;
  position: absolute;
  margin-left: 1.6rem;
}

.dialog-btn-title {
  font-size: 2.9rem;
  font-family: HYQiHei;
  font-weight: normal;
  color: #ffffff;
  position: relative;
}

.login-dialog-tips {
  font-size: 2rem;
  font-family: HYQiHei;
  font-weight: normal;
  color: #2166f0;
  opacity: 0.65;
  margin-top: 2.5rem;
  position: relative;
}

.no-account-dialog-box {
  width: 63.7rem;
  height: 38.4rem;
}

.dialog-subtitle {
  font-size: 2.6rem;
  font-family: HYQiHei;
  font-weight: normal;
  color: #2166f0;
  margin: 0.5rem 0;
  position: relative;
  opacity: 0.7;
}

.no-account-dialog-title {
  font-size: 3.4rem;
  font-family: HYQiHei;
  font-weight: normal;
  color: #2166f0;
  margin-top: 7rem;
  position: relative;
}

.no-account-dialog-text {
  font-size: 2.4rem;
  font-family: HYQiHei;
  font-weight: normal;
  color: #447af2;
  line-height: 3.7rem;
  opacity: 0.68;
  margin-top: 4rem;
  white-space: pre-wrap;
}

.share-story-btn-bg {
  width: 28.7rem;
  height: 6.3rem;
  margin-left: 1.6rem;
  position: absolute;
}

.download-confirm-btn-box {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  margin-top: 4.5rem;
}

.download-confirm-btn {
  width: 35rem;
  height: 5rem;
  margin-left: 2.5rem;
  object-fit: fill;
  position: absolute;
}

.download-btn-title {
  font-size: 2.4rem;
  font-family: HYQiHei;
  font-weight: normal;
  color: #ffffff;
  opacity: 0.77;
  position: relative;
}

.tips-img {
  height: 80%;
  object-fit: contain;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  opacity: 0;
  z-index: -9;
}

.share-story-box {
  width: 64.7rem;
  height: 73.5rem;
}

.dialog-title {
  font-size: 3.2rem;
  font-family: HYQiHei;
  font-weight: normal;
  color: #2166f0;
  margin-top: 8.4rem;
  position: relative;
}

.ipt-area-box {
  width: 49.8rem;
  height: 36.7rem;
  position: relative;
  margin-top: 4.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.bg-rect {
  width: 100%;
  height: 100%;
  object-fit: contain;
  position: absolute;
}

.ipt-area {
  width: 44.2rem;
  height: 31.3rem;
  border: none;
  outline: none;
  background: transparent;
  padding: 2rem;
  font-size: 2.8rem;
  font-family: HYQiHei;
  font-weight: normal;
  color: #2166f0;
  position: relative;
}

.ipt-area::placeholder {
  font-size: 2.4rem;
  font-family: HYQiHei;
  font-weight: normal;
  color: rgba(33, 102, 240, 0.3);
  /* color: #2166f0;
  opacity: 0.3; */
}

.submit-btn-box {
  margin-top: 4.3rem;
  width: 28.7rem;
  height: 6.3rem;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.submit-btn-box2 {
  margin-top: 2rem;
  width: 28.7rem;
  height: 6.3rem;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.bg-btn {
  height: 100%;
  width: 100%;
  object-fit: contain;
  position: absolute;
}

.bg-btn-fill {
  height: 100%;
  width: 100%;
  object-fit: fill;
  position: absolute;
}

.bg-btn2 {
  height: 5rem;
  width: 36rem;
  margin-left: 4rem;
  object-fit: fill;
  position: absolute;
}

.bg-btn3 {
  height: 5rem;
  width: 22rem;
  margin-left: 4rem;
  object-fit: fill;
  position: absolute;
}

.btn-title {
  font-size: 2.9rem;
  font-family: HYQiHei;
  font-weight: normal;
  color: #ffffff;
  position: relative;
}

.icon-close {
  width: 7.2rem;
  height: 7.1rem;
  position: absolute;
  bottom: -12.4rem;
}

.receive-prize-box {
  width: 66.2rem;
  height: 40.2rem;
  transform: rotate(90deg);
}

.prize-name2 {
  font-size: 2rem;
  font-family: HYQiHei;
  font-weight: normal;
  color: #2166f0;
  margin: 0.5rem 0;
  position: relative;
  opacity: 0.7;
}

.receive-prize-title {
  margin-top: 4.2rem;
}

.img-prize {
  width: 21.2rem;
  height: 15rem;
  position: relative;
  object-fit: contain;
}

.prize-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  margin-top: 2.3rem;
  width: 21.5rem;
  height: 16rem;
}

/* .img-prize2 {
  height: 150rem;
  object-fit: contain;
  position: relative;
} */

.qcs-tips {
  width: 50rem;
  font-size: 2rem;
  font-family: HYQiHei;
  font-weight: normal;
  color: #2166f0;
  text-align: left;
  line-height: 3rem;
  position: absolute;
  bottom: 14rem;
}

.register-btn-box {
  width: 23.5rem;
  height: 5rem;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 0.5rem;
}

.register-btn-box2 {
  width: 36rem;
  height: 7rem;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  bottom: -2rem;
  margin: auto;
}

.icon-close2 {
  width: 6rem;
  height: 6rem;
  position: absolute;
  right: 0;
  top: 0;
}

.no-prize-box {
  width: 51.7rem;
  height: 29.5rem;
  transform: rotate(90deg);
}

.no-prize-content {
  font-size: 2.8rem;
  font-weight: bold;
  color: #799ee8;
  opacity: 0.77;
  margin-top: 3rem;
}

.register-prize-box {
  width: 64.7rem;
  height: 73.5rem;
}

.register-box-header {
  margin-top: 4.4rem;
  display: flex;
  flex-wrap: nowrap;
  align-items: flex-start;
}

.register-box-header-left {
  width: 26rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.dialog-header-content {
  padding-left: 4rem;
  font-size: 2.4rem;
  font-weight: 500;
  color: #799ee8;
  line-height: 3.1rem;
  margin-top: 5.8rem;
  position: relative;
}

.register-box-header-right {
  margin-left: 2rem;
  position: relative;
  width: 22.4rem;
  height: 16.7rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.register-box-prize-img {
  width: 12.5rem;
  height: 11.8rem;
  position: relative;
  object-fit: contain;
}

.tag-title {
  padding: 1.4rem 0.4rem;
  margin-left: 1.2rem;
  background-color: #2166f0;
  font-size: 2rem;
  font-weight: 500;
  color: #ffffff;
  text-align: center;
  writing-mode: vertical-lr;
  position: relative;
}

.line-box {
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
  width: 53.7rem;
  height: 4.4rem;
  position: relative;
}

.ipt {
  height: 4.4rem;
  text-align: left;
  line-height: 4.4rem;
  outline: none;
  border-style: none;
  border-bottom: 0.1rem solid #8ea7d5;
  background: transparent;
  padding: 0 0.5rem;
  font-size: 2.8rem;
  font-family: HYQiHei;
  font-weight: normal;
  color: #2166f0;
}

.name {
  width: 25rem;
  margin-right: 2rem;
}

.phone {
  width: 25rem;
}

.ipt::placeholder {
  font-size: 2.8rem;
  font-family: HYQiHei;
  font-weight: normal;
  color: #2166f0;
  opacity: 0.65;
}

.line1 {
  margin-top: 10rem;
}

.line2,
.line3 {
  margin-top: 2rem;
}

.address,
.ssq {
  width: 53.7rem;
}

.submit-tips {
  width: 53rem;
  font-size: 2.1rem;
  font-weight: 400;
  color: #799ee8;
  opacity: 0.8;
  margin-top: 3rem;
  text-align: left;
}

.submit-tips2 {
  width: 53rem;
  font-size: 2.1rem;
  font-weight: 400;
  color: #799ee8;
  opacity: 0.8;
  margin-top: 1rem;
  text-align: center;
}

.my-prize-title {
  margin-top: 0.5rem;
}

.my-prize-box {
  width: 69.2rem;
  height: 47.2rem;
  transform: rotate(90deg);
}

.my-prize-header {
  display: flex;
  flex-wrap: nowrap;
  align-items: flex-start;
  justify-content: flex-start;
  width: 54.8rem;
  height: 12rem;
  position: relative;
  margin-top: 5rem;
}

.my-prize-header-left {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: absolute;
  left: 0;
}

.my-prize-title2 {
  font-size: 3.2rem;
  font-family: HYQiHei;
  font-weight: normal;
  color: #2166f0;
  margin-top: 1.5rem;
}

.prize-name {
  font-size: 2.2rem;
  font-family: HYQiHei;
  font-weight: normal;
  color: #799ee8;
  margin-top: 3.8rem;
  margin-left: 3rem;
}

.my-prize-header-right {
  width: 17rem;
  height: 12rem;
  margin-left: 5rem;
  position: absolute;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.bl {
  width: 54.8rem;
  height: 0.2rem;
  background: #2166f0;
  margin: 3rem 0 2rem 0;
  position: relative;
}

.dialog-title2 {
  width: 54.8rem;
  text-align: left;
  font-size: 2.6rem;
  font-family: HYQiHei;
  font-weight: normal;
  color: #2166f0;
  position: relative;
  margin-bottom: 0.6rem;
}

.my-prize-line-box {
  width: 48.5rem;
  height: 4.5rem;
  margin-bottom: 1.2rem;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.account {
  font-size: 2.4rem;
  font-family: HYQiHei;
  font-weight: normal;
  color: #2166f0;
  line-height: 4.5rem;
}

.prize-info-text {
  width: 27.5rem;
  line-height: 4.5rem;
  font-size: 2rem;
  font-family: HYQiHei;
  font-weight: normal;
  color: #799ee8;
  text-align: left;
  opacity: 0.5;
  border-bottom: 0.1rem solid #2166f0;
  margin-left: 2.7rem;
}

.copy-btn {
  font-size: 2.2rem;
  font-family: HYQiHei;
  font-weight: normal;
  color: #ffffff;
  line-height: 4.5rem;
  padding: 0 2rem;
  background: #2166f0;
  border-radius: 2px;
  text-align: center;
  margin-left: 1.8rem;
}

.my-prize-img {
  width: 12.8rem;
  height: 11rem;
  position: relative;
  object-fit: contain;
}

.my-prize-address {
  width: 40rem;
  font-size: 2.2rem;
  font-family: HYQiHei;
  font-weight: normal;
  color: #799ee8;
  line-height: 3rem;
  /* position: absolute; */
  text-align: left;
  word-break: break-all;
  /* left: 0;
  top: 0; */
}

.my-prize-address-box {
  width: 50rem;
  left: 0;
  top: 0;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: nowrap;
}

.my-prize-info-wrap {
  display: flex;
  flex-direction: column;
  width: 50rem;
  position: relative;
  margin-top: 1rem;
}

.pb-bg-wrap {
  width: 100vw;
  height: 100vh;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  z-index: -999;
  opacity: 0;
  background-color: #323031;
  display: flex;
  align-items: center;
  justify-content: center;
}

.bg-pc {
  width: 100vw;
  height: 100vh;
  max-width: 1920px;
  max-height: 1080px;
  position: relative;
}

.toast-title {
  /* position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto; */
  background-color: rgba(0, 0, 0, 0.6);
  padding: 0.8rem 1.2rem;
  border-radius: 1.2rem;
  font-size: 2.2rem;
  font-family: Arial;
  font-weight: normal;
  color: #ffffff;
  z-index: -9;
  opacity: 0;
  width: fit-content;
  line-height: 2.4rem;
  height: 2.4rem;
}

.modify-address {
  width: 6rem;
  font-size: 2.2rem;
  font-family: HYQiHei;
  font-weight: normal;
  color: #ffffff;
  line-height: 4.5rem;
  padding: 0 2rem;
  background: #2166f0;
  border-radius: 2px;
  text-align: center;
  margin-left: 1.8rem;
}